<!-- adminDashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <style>
        body{
            background-image: url('https://png.pngtree.com/back_origin_pic/05/09/67/76e6c093cf5a460ea668baa610001c89.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header > div {
            margin-left: 20px; /* Adjust margin as needed */
        }

        header .text-center {
            flex-grow: 1;
        }

        header ul {
            margin-right: 20px; /* Adjust margin as needed */
        }
        .border-light-emission {
            border: 1px solid transparent;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Change the color to white shades */
            transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
        }

        .border-light-emission:hover {
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Adjust the color and opacity for the hover effect */
        }
    </style>
    <script>
        function deleteSession(id) {
            const csrfToken = document.querySelector('input[name="_csrf"]').value;
            fetch(`/delete-session/${id}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'CSRF-Token': csrfToken,
                },
            })
            .then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            })
            .catch((err) => console.error(err));
        }

    </script>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-500 text-white py-4 fixed w-full top-0 z-20 flex justify-between items-center">
        <div class="flex items-center">
            <div>
                <p>Welcome..! <%= admin.firstName + " " + admin.lastName %></p>
                <p>Mail: <%= admin.email %></p>
            </div>
        </div>
        <div class="text-center flex-grow">
            <h1 class="text-2xl font-semibold">Admin Dashboard</h1>
        </div>
        <ul class="flex items-center space-x-4">
            <li><a href="/signout" class="hover:text-red-500">Sign Out</a></li>
            <li><a href="#toggleFormSession" class="hover:text-green-500">Add Session/Sports</a></li>
            <li><a href="#reports" class="hover:text-green-500">Reports</a></li>
        </ul>
    </header>
    
    <div class="w-2/2 overflow-y-auto h-full">
        <main class="container mx-auto mt-20 pl-4 pr-8">
            <section id="manage-sports-section" class="h-full">
                <h2 class="text-2xl font-semibold mb-4">Your Sports</h2>
                <%- include('adminSportsList.ejs', { sports: sports, sessions, joinedSessions, allPlayers,admin }) %>
            </section>
            
            <button id="toggleForm" class="bg-blue-500 text-white p-2 rounded mt-4">Add Sport</button>

            <form id="createSportForm" action="/create-sport" style="display: none;" method="post" class="h-full mx-auto bg-white p-8 mt-4 rounded shadow-md slide-down">
                <input type="hidden" name="adminId" value="<%= admin.id %>" class="hidden">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <div class="mb-4">
                    <label for="sportName" class="block text-gray-700 text-sm font-bold mb-2">Sport Name:</label>
                    <input type="text" id="sportName" name="name" required class="w-full border border-gray-300 p-2 rounded">
                </div>

                <div class="mb-6">
                    <button type="submit" class="w-full bg-blue-500 text-white p-3 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">Create Sport</button>
                </div>
            </form>


            <button id="toggleFormSession" class="bg-blue-500 text-white p-2 rounded mt-4">Add Session</button>
            <section>
                <form id="createSessionForm" action="/create-session" style="display: none;" method="post" class="h-full mx-auto bg-white p-8 mt-4 rounded shadow-md slide-down">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-4">
                        <label for="sportId">Sport:</label>
                        <select id="sportId" name="sportId" required>
                        <% sports.forEach(sport => { %>
                            <option value="<%= sport.id %>"><%= sport.name %></option>
                        <% }); %>
                        </select>
                    </div>
                    <input type="hidden" name="creator" value="<%= admin.email %>">

                    <div class="mb-4">
                        <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Date:</label>
                        <input type="date" id="date" name="date" class="w-full border border-gray-300 p-2 rounded" required>
                    </div>

                    <div class="mb-4">
                        <label for="time" class="block text-gray-700 text-sm font-bold mb-2">Time:</label>
                        <input type="time" id="time" name="time" class="w-full border border-gray-300 p-2 rounded" required>
                    </div>
                    
                    <div class="mb-4">
                        <label for="venue" class="block text-gray-700 text-sm font-bold mb-2">Venue:</label>
                        <input type="text" id="venue" name="venue" class="w-full border border-gray-300 p-2 rounded" required>
                    </div>
                    
                    <div class="mb-4">
                        <label for="teamSize" class="block text-gray-700 text-sm font-bold mb-2">Team-Size :</label>
                        <input type="text" name="teamSize" class="w-full border border-gray-300 p-2 rounded" required>
                    </div>
                    
                    <div class="mb-6">
                        <button type="submit"  class="w-full bg-blue-500 text-white p-3 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">Create Session</button>
                    </div>
                    
                </form>
            </section>
            
        </main>
    </div>
    <div id="reports" class="w-2/2 overflow-y-auto h-full">
        <main class="container mx-auto m-4 pl-4 pr-8">
            <div class="mb-4">
                <h2 class="text-2xl font-semibold">Database Reports</h2>
            </div>
    
            <div>
                <p class="mb-2 text-lg font-semibold"><strong>Total Sessions Played:</strong> <%= allSessions.length %></p>
            
                <h3 class="mb-2 text-lg font-semibold"><strong>Relative Popularity of Sports :</strong> </h3>
                <ul class="text-lg font-medium">
                    <% 
                    const sportsMap = {};
                    allSessions.forEach(session => {
                        const sportId = session.sportId;
                        const sport = allSports.find(sport => sport.id === sportId);
                        
                        if (sport) {
                            const sportName = sport.name;
                
                            if (!sportsMap[sportName]) {
                                sportsMap[sportName] = 1;
                            } else {
                                sportsMap[sportName]++;
                            }
                        }
                    });
                
                    const sortedSports = Object.keys(sportsMap).sort((a, b) => sportsMap[b] - sportsMap[a]);
                
                    sortedSports.forEach(sportName => { %>
                        <li class="hover:bg-gray-100 transition duration-300"><span class="text-violet-900"><%= sportName %></span> : <%= sportsMap[sportName] %> session(s)</li>
                    <% }); %>
                </ul>
                
            </div>
            
            
        </main>
    </div>
    
    <footer class="bg-gray-800 text-white py-4 mt-8 z-20">
        <div class="container mx-auto flex items-center justify-between">
            <p>&copy; 2024 Admin Dashboard</p>
            <button id="scrollToTopBtn" class="bg-black-500 text-white px-4 py-2 rounded hover:bg-gray-700 focus:outline-none focus:shadow-outline-blue ml-auto">Scroll to Top</button>
        </div>
    </footer>

    <script>
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }

        const scrollToTopBtn = document.getElementById('scrollToTopBtn');
        scrollToTopBtn.addEventListener('click', scrollToTop);
        // JavaScript to toggle the form visibility with slide-down animation
        const toggleFormButton = document.getElementById('toggleForm');
        const createSportForm = document.getElementById('createSportForm');
    
        toggleFormButton.addEventListener('click', function () {
            createSportForm.style.display = createSportForm.style.display === 'block' ? 'none' : 'block';
            createSportForm.classList.toggle('slide-down');
            if (createSportForm.style.display === 'block') {
                createSportForm.scrollIntoView({ behavior: 'smooth' });
            }
        });

        const toggleFormSessionButton = document.getElementById('toggleFormSession');
        const createSessionForm = document.querySelector('section form');

        toggleFormSessionButton.addEventListener('click', function () {
            createSessionForm.style.display = createSessionForm.style.display === 'block' ? 'none' : 'block';
            createSessionForm.classList.toggle('slide-down');

            if (createSessionForm.style.display === 'block') {
            createSessionForm.scrollIntoView({ behavior: 'smooth' });
            }
        });
    </script>
</body>
</html>